#PCL {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
#PTT {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
#PST {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Arial,Helvetica
}
