.Toolbar {
	BORDER-RIGHT: #eeeeee 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eeeeee 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eeeeee 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #dddddd
}
.ButtonNormal {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; CURSOR: hand; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #dddddd
}
.ButtonPressed {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; CURSOR: hand; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #dddddd
}
.ButtonMouseOver {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #dddddd
}
.ButtonDisabled {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #eeeeee
}
.ButtonText {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.DropDown {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: buttonshadow 1px solid; BACKGROUND-COLOR: #ffffff
}
.Space {
	WIDTH: 4px; HEIGHT: 24px; BACKGROUND-COLOR: #dddddd
}
.List {
	BACKGROUND-COLOR: #eeeeee
}
.Image {
	WIDTH: 22px; HEIGHT: 22px
}
.Divider {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 2px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #dddddd
}
.Text {
	FONT: 8pt verdana,arial,sans-serif;
}
.Heading {
	COLOR: navy; BACKGROUND-COLOR: #eeeeee
}
.Selector {
	DISPLAY: none; Z-INDEX: 100; POSITION: absolute
}
A.SelectItem:link {
	COLOR: black; TEXT-DECORATION: none
}
A.SelectItem:active {
	COLOR: black; TEXT-DECORATION: none
}
A.SelectItem:visited {
	COLOR: black; TEXT-DECORATION: none
}
