.menutop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 666666;
	text-decoration: none;
}
.menutop:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0066CC;
	text-decoration: none;
}
.tre11 {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height:18px;
}
.tre11:hover {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	font-size: 11px;
	color: #003366;
	text-decoration: underline;
	line-height:18px;
}

.txtfield {
height:21px;
border:1 solid #BAC0C6;
}

.tre11-blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
}
.tre11-blue:hover {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	text-decoration: none;
}
.tre12 {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: #333333;
	text-decoration: none;
	font-size: 11px;
	line-height:18px;
}

.tre12:hover {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: #333333;
	text-decoration: underline;
	font-size: 11px;
	line-height:18px;
}
.v11b {
	color: #075B74;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.tah11b {
	font-family: Tahoma, Verdana;
	font-size: 11px;
	color: #055479;
	text-decoration: none;
}

.tah11b:hover {
	font-family: Tahoma, Verdana;
	font-size: 11px;
	color: #ff6600;
	text-decoration: none;
}
.v11b:hover {

	color: #FF6600;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.ss
{
	font-family: verdana;
	color: #79797A;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
.ss:hover
{
	font-family: verdana;
	color: #333333;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}

.hlink
{
	font-family: verdana;
	color: #FF6600;
	font-size: 10px;
	font-style: normal;
	font-weight: none;
	font-variant: normal;
	text-decoration: none;
}
.hlink:link
{
	font-family: verdana;
	color: #FF6600;
	font-size: 10px;
	font-style: normal;
	font-weight: none;
	font-variant: normal;
	text-decoration: none;
}
.hlink:visited
{
	font-family: verdana;
	color: #FF6600;
	font-size: 10px;
	font-style: normal;
	font-weight: none;
	font-variant: normal;
	text-decoration: none;
}
.hlink:hover
{
	font-family: verdana;
	color: #336699;
	font-size: 10px;
	font-style: normal;
	font-weight: none;
	font-variant: normal;
	text-decoration: underline;
}
.mt 
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	font-size: 11px;
	color: black;
}
.kk
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: #336699;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
.kk:hover
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: black;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
.kkk
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: #336699;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
.kkk:hover
{
	font-family: "Microsoft Sans Serif", "MS Sans Serif", Verdana;
	color: #FE9A37;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
.xyz
{
	font-family: verdana;
	color: #336600;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
.xyz:hover
{
	font-family: verdana;
	color: #336699;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
}
.me
{
	font-family: verdana;
	color: #518EAD;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
.me1
{
	font-family: verdana;
	color: #999999;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: underline;
}.bodytext {
	font-family: "Microsoft Sans Serif";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.formtext {
	font-family: sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.buttonstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: 0497B4;
	border:1 solid #0497B4;
}

.txtfield {
border:1 solid #333333;
height:18px;
font-family:sans-serif;
font-size:11px;
}

.selstyle {
height:18px;
font-family:sans-serif;
font-size:11px;
}

.link {
	font-family: "Microsoft Sans Serif";
	font-size: 11px;
	color: #3366CC;
	text-decoration: none;
}
.link:hover {

	font-family: "Microsoft Sans Serif";
	font-size: 11px;
	color: #003366;
	text-decoration: underline;
}
.c1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
}
.bg1 {
	text-decoration: none;
	background-color: F1F5E6;
}

.bg2 {
	text-decoration: none;
	background-color: E1F2F6;
}

.bg3 {
	text-decoration: none;
	background-color: F8F8F8;
}

.bg4{
	text-decoration: none;
	background-color: F5F0E6;
}
.c2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: 007F3E;
	text-decoration: none;
}
.c3 {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6633;
	text-decoration: none;
}
.c4 {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: ffffff;
	text-decoration: none;
}
.bbg5 {

	text-decoration: none;
	background-color: #3366CC;
}
.vd11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

.lineheight {
line-height:22px;
}

.border {
border:1px solid #cccccc;
}

.borderdark {
border:1px solid #333333;
}
