.body {
	COLOR: #000000; FONT-FAMILY: verdana, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.small {
	COLOR: #660000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.box {
	BORDER-BOTTOM: #000066 1px solid; BORDER-LEFT: #000066 1px solid; BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.box1 {
		COLOR: #000066; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.a {
FONT-FAMILY: verdana, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none 
 }
A:link {
	COLOR: #660000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #660000; TEXT-DECORATION: none
}
A:active {
	COLOR: #660000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000066; TEXT-DECORATION: underline
}
A.dark:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.dark:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.dark:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.dark:hover {
	COLOR: #00cc00; TEXT-DECORATION: none
}
.t_header
{
 BACKGROUND-COLOR:#E88B00; COLOR: #FFFFFF;
 }
.inputbox {
	BACKGROUND: #ffffff; HEIGHT:18px; WIDTH: 200px; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.inputbox1 {
	BACKGROUND: #ffffff; HEIGHT:18px; WIDTH: 90px; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.button 
{ border:1px solid #E88B00;background-color: #E88B00; font-family:Verdana, Arial; font-size:11px; color:#ffffff; }

.combobox {
	BACKGROUND: #FFFFFF; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal
} 